*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --navbar-bg: rgba(0, 160, 193, 1);
  --logo-color: rgba(255, 166, 43, 1);
  --nav-link: rgba(0, 0, 0, 1);
  --highlight-color: rgba(255, 255, 255, 1);
  --why-choose-bg: 
  --card-bg: #F9F9F9;
}
 
body {
  font-family: 'Poppins', Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--navbar-bg);
}

.navbar {
  background-color: var(--navbar-bg);
  padding: 32px 102px  102px;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0;
}
.logo{
    font-size: 24px;
    font-weight: 600;
    color: var(--logo-color);
}
li{
  list-style: none; display: inline-block;
}
li a{
  color: var(--nav-link);
  font-size: 18px;
  font-weight: 400;
  margin-right: 28px;
}
button{
  margin-left: 9px;
  border-radius: 10px;
  padding: 6px;
  background-color: var(--logo-color);
  width: 124px;
  border: 0;
  height: 54px;
}
button a{
  color: var(--highlight-color);
  font-size: 15px;
  font-weight: bold;
}
