* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --navbar-bg: #d9edff;
  --logo-color: rgba(255, 166, 43, 1);
  --nav-link-color: rgba(0, 0, 0, 1);
  --highlight-color: rgba(255, 255, 255, 1);
  --primary-button-color: #00a0c1;
  --border-color: #bdbdbd;
  --form-input-bg-color: #fbfbfb;
  --input-text-color: #000000b0;
  --icon-color: #ffa62b;
  --card-text-color: #000000;
  --how-section-bg-color: #0b353d;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--form-input-bg-color);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: var(--navbar-bg);
}

.navbar {
  background-color: var(--navbar-bg);
  padding: 20px 102px 68px 102px;
  /* width: 100%; */
  max-width: 1280px;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: var(--logo-color);
}

li {
  list-style: none;
}

.nav-container ul {
  display: flex;
  align-items: center;
  gap: 41px;
}

li a {
  color: var(--nav-link-color);
  font-size: 18px;
  font-weight: 400;
}

.join-btn {
  padding: 12px 22px;
  background-color: var(--logo-color);
  color: var(--highlight-color);
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

.menu-icon {
  display: none;
  font-size: 32px;
  cursor: pointer;
  color: var(--nav-link-color);
}

@media (max-width: 768px) {
  .navbar {
    padding: 24px 19px;
  }

  .nav-container ul {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

/* Hero Section */
.hero {
  padding: 5px 102px;
  background: var(--navbar-bg);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  max-width: 452px;
  width: 100%;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--nav-link-color);
  line-height: 1.4;
}

.hero-text p {
  margin: 20px 0 30px;
  color: var(--nav-link-color);
  font-size: 15px;
  line-height: 1.7;
}

.btn-group {
  display: flex;
  gap: 18px;
}
.btn-primary,
.btn-secondary {
  /* padding: 12px 24px; */
  /* border-radius: 30px; */
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  width: 100%;
  max-width: 187px;
}

.btn-primary {
  background: var(--primary-button-color);
  color: var(--highlight-color);
  text-align: center;
  font-size: 17px;
  border-radius: 27px;
  padding: 17px 57px 17px 56px;
}

.btn-secondary {
  background: var(--navbar-bg);
  color: var(--primary-button-color);
  border: 1px solid var(--primary-button-color);
  text-align: center;
  border-radius: 27px;
  padding: 17px 36px 17px 40px;
}

.hero-form {
  background: var(--highlight-color);
  padding: 41px 34px 34px 34px;
  border-radius: 19px;
  backdrop-filter: blur(4px);
  width: 90%;
  max-width: 392px;
  margin: 0 20px 12px;
  box-sizing: border-box;
}

.hero-form h3 {
  color: var(--nav-link-color);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.hero-form label {
  font-size: 17px;
  color: var(--input-text-color);
  margin-top: 23px;
  margin-bottom: 6px;
  display: block;
  padding: 0;
  line-height: 100%;
}

.hero-form input,
.hero-form select {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  font-size: 14px;
  color: var(--border-color);
  background-color: var(--form-input-bg-color);
}

.hero-form button {
  width: 100%;
  margin-top: 32px;
  padding: 12px;
  background-color: var(--logo-color);
  color: var(--highlight-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

/* !--Why--choose--us--section--*/
.why-choose-us {
  padding: 40px 102px 114px 102px;
  padding: 40px 102px 24px;
  background: var(--highlight-color);
  width: 100%;
  text-align: center;
}

.why-choose-us h2 {
  font-size: 24px;
  color: var(--card-text-color);
  font-weight: 600;
  padding-top: 122px;
}

.why-choose-us-cards {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.why-choose-us-card {
  width: 100%;
  background-color: var(--navbar-bg);
  border-radius: 30px;
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  max-width: 342px;
}

.why-choose-us-card-header {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--navbar-bg);
  border-radius: 20px;
  padding: 41px 39px 35px 52px;
}

.icon-wrap {
  width: 52px;
  height: 52px;
  background: var(--icon-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrap img {
  width: 25px;
  height: 18.57px;
  object-fit: contain;
}

.why-choose-us-card ul li {
  list-style: disc;
  margin-bottom: 28px;
  color: var(--card-text-color);
  line-height: 1.4;
  font-weight: 400;
  width: 305px;
  margin-left: 11px;
  padding-right: 11px;
  size: 16px;
}

.why-choose-us-card h3 {
  font-size: 20px;
  font-weight: 400;
  color: var(--nav-link-color);
}

.why-choose-us-card-body {
  border: var(--primary-button-color) 1px solid;
  border-radius: 30px;
  padding: 46px 11px 0px 26px;
  background-color: var(--highlight-color);
  text-align: left;
  width: 100%;
  max-width: 342px;
  flex-grow: 1;
}

.why-choose-us-card a {
  display: inline-block;
  margin-top: auto;
  color: var(--icon-color);
  font-weight: 600;
  margin-left: 11px;
  padding-bottom: 36px;
}

/*--how section--*/
.how-section {
  background: var(--highlight-color);
  /* padding: 40px 0 76px 0px; */
}

.how-container {
  max-width: 1280px;
  /* width: 100%; */
  text-align: center;
  padding: 40px 0px 0px;
  height: 342px;
}

.how-container h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--card-text-color);
  max-width: 434px;
  width: 100%;
  margin: 0 auto 16px;
}

.how-text {
  /* margin: 0 auto 90px; */
  color: var(--card-text-color);
  font-weight: 400;
  size: 16px;
  margin-bottom: 156px;
}

.how-bg {
  width: 100%;
  background: var(--how-section-bg-color);
  border-top-right-radius: 151px;
  border-bottom-left-radius: 151px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 76px;
  height: 302px;
}

.how-media {
  position: relative;
  width: 723px;
  /* transform: translateY(-90px); */
}

.kids-img {
  width: 100%;
  max-width: 723px;
  display: block;
}

.youtube-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 112.85px;
  transform: translate(-50%, -50%);
}
