* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --navbar-bg: #d9edff;
  --logo-color: rgba(255, 166, 43, 1);
  --nav-link-color: rgba(0, 0, 0, 1);
  --highlight-color: rgba(255, 255, 255, 1);
  --primary-button-color: #00a0c1;
  --border-color: #bdbdbd;
  --form-input-color: #e7e7e7;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: var(--navbar-bg);
}

.navbar {
  background-color: var(--navbar-bg);
  padding: 32px 102px 102px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: var(--logo-color);
}

li {
  list-style: none;
}

.nav-container ul {
  display: flex;
  align-items: center;
  gap: 28px;
}

li a {
  color: var(--nav-link-color);
  font-size: 18px;
  font-weight: 400;
}

.join-btn {
  padding: 12px 24px;
  background-color: var(--logo-color);
  color: var(--highlight-color);
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

.menu-icon {
  display: none;
  font-size: 32px;
  cursor: pointer;
  color: var(--nav-link-color);
}

@media (max-width: 768px) {
  .navbar {
    padding: 24px 19px;
  }

  .nav-container ul {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

/* Hero Section */
.hero {
  padding: 5px 102px;
  background: var(--navbar-bg);
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  max-width: 48%;
}

.hero-text h1 {
  font-size: 40px;
  font-weight: 800;
  color: var(--nav-link-color);
  line-height: 1.2;
}

.hero-text p {
  margin: 20px 0 30px;
  color: var(--nav-link-color);
  font-size: 15px;
  line-height: 1.7;
}

.btn-group {
  display: flex;
  gap: 18px;
}
.btn-primary,
.btn-secondary {
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  width: 150px;
}

.btn-primary {
  background: var(--primary-button-color);
  color: #fff;
  text-align: center;
  font-size: 17px;
}

.btn-secondary {
  background: var(--navbar-bg);
  color: var(--primary-button-color);
  border: 2px solid var(--primary-button-color);
  text-align: center;
}

.hero-form {
  background: var(--highlight-color);
  padding: 30px 20px;
  border-radius: 18px;
  backdrop-filter: blur(4px);
}

.hero-form h3 {
  margin-bottom: 20px;
  color: var(--nav-link-color);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.hero-form label {
  font-size: 14px;
  color: var(--nav-link-color);
  margin-top: 12px;
  display: block;
  padding: 2px;
}

.hero-form input,
.hero-form select {
  width: 100%;
  padding: 11px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  font-size: 14px;
  color: var(--border-color);
  background-color: var(--form-input-color);
  margin-bottom: 7px;
}

.hero-form button {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  background-color: var(--logo-color);
  color: var(--highlight-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
