*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --navbar-bg: rgba(0, 160, 193, 1);
  --logo-color: rgba(255, 166, 43, 1);
  --nav-link: rgba(0, 0, 0, 1);
  --highlight-color: rgba(255, 255, 255, 1);
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: var(--navbar-bg);
}

.navbar {
  background-color: var(--navbar-bg);
  padding: 32px 102px 102px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: var(--logo-color);
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: var(--nav-link);
  font-size: 18px;
  font-weight: 400;
  margin-right: 28px;
}

button {
  margin-left: 9px;
  border-radius: 10px;
  padding: 6px;
  background-color: var(--logo-color);
  width: 124px;
  border: 0;
  height: 54px;
}

button a {
  color: var(--highlight-color);
  font-size: 15px;
  font-weight: bold;
}

.menu-icon {
  display: none;            
  font-size: 32px;
  cursor: pointer;
  color: var(--nav-link);
}

@media (max-width: 768px) {
  .navbar {
    padding: 24px 19px;  
  }
  .navdiv {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  .navdiv ul {
    display: none !important;
  }
  .navdiv button {
    display: none !important;
  }
  .menu-icon {
    display: block;
  }
}
/* structural design of the page */